/*globals*/

/*top navbar*/
#logo{
    width: 2em;
}

/******** homepage ********/
/*about section*/
.portraits img{
    width: 80%;
}

/********* list of products *******/
/*header*/
.alt-header {
    background: var(--dark-caramel);
    padding-top: 30%;
}
/*cards*/
.card-columns .card {
    margin-bottom: 2.25rem;
}
.img-wrapper{
    max-height: 250px;
    overflow: hidden;
}
.nutriscore {
    width: 3em;
    height: 3em;
    position: absolute;
    background: black;
    color: white;
    padding-top: 0.7em;
    top: -10px;
    right: -10px;
}

/*responsive*/
 @media (min-width: 768px) {
   .portraits img{
       width: 40%;
       margin-bottom: 2em;
    }
   .portraits img:first-child{
       float: left !important;
   }
   .portraits img:last-child{
       float: right !important;
   }
   .alt-header {
       padding-top: 13%;
   }
 }