/*globals*/

/*top navbar*/
#logo{
    width: 2em;
}

/******** homepage ********/
/*about section*/
.portraits img{
    width: 80%;
}

/********* list of products *******/
/*header*/
.alt-header {
    background: var(--dark-caramel);
    padding-top: 30%;
}
/*cards*/
.card-columns .card {
    margin-bottom: 2.25rem;
}
.img-wrapper{
    max-height: 250px;
    overflow: hidden;
}
.nutriscore {
    width: 3em;
    height: 3em;
    position: absolute;
    background: black;
    color: white;
    padding-top: 0.7em;
    top: -10px;
    right: -10px;
    text-transform: uppercase;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: bold;
}
.nutriscore-a{
    background-color: #008439;
}
.nutriscore-b{
    background-color: #73be00;
}
.nutriscore-c{
    background-color: #ffca00;
}
.nutriscore-d{
    background-color: #fd7b00;
}
.nutriscore-e{
    background-color: #f92500;
}

/*detail-product*/
.detail-header{
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
}
.nutrient-level{
    display: inline-block;
    margin-right: 1em;
    width: 2em;
    height: 2em;
    position: relative;
    top: 0.5em;
}
.nutrient-level.high{
    background-color: var(--danger);
}
.nutrient-level.medium{
    background-color: var(--warning);
}
.nutrient-level.low{
    background-color: var(--success);
}

/*responsive*/
 @media (min-width: 768px) {
   .portraits img{
       width: 40%;
       margin-bottom: 2em;
    }
   .portraits img:first-child{
       float: left !important;
   }
   .portraits img:last-child{
       float: right !important;
   }
   .alt-header {
       padding-top: 13%;
   }
 }