{% extends 'website/base.html' %}
{% block content %}

    <!-- header -->
  <header class="alt-header account">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Mentions légales</h1>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </header>


  <!-- logout -->
  <div class="container p-5">
      <div class="row justify-content-md-center">
          <div class="col col-lg-8 mt-5 mb-2 p-5">
          <h2>Crédits</h2>
          <p>Toutes les photos sont libres de droit</p>
          <p>Photo par <a href="https://unsplash.com/photos/k60JspcBwKE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">
            Kawin Harasai</a> sur
          <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">
            Unsplash
          </a></p>
          <p>Photo sur <a href="https://pixabay.com/fr/photos/femme-afrique-en-levant-t%C3%AAte-1030895/" target="_blank">Pixabay</a></p>
          <p>Photo sur <a href="https://pixabay.com/fr/photos/l-homme-debout-%C3%A0-la-recherche-945438/" target="_blank">Pixabay</a></p>
          <h2>Hébergement</h2>
          Services <a href="https://www.heroku.com/" target="_blank">Heroku</a>
          </div>
      </div>
  </div>

{% endblock %}
