{% extends 'website/base.html' %}
{% block content %}

  <!-- header -->
  {% if not favorites %}
    <header class="alt-header product-header" style="background-image: url({{search_prod.photo}})">
  {% else %}
    <header class="alt-header main">
  {% endif %}
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">
            {% if not favorites %}
                Résultats pour {{ search_prod.name }}
             {% else %}
                Mes produits favoris
             {% endif %}
          </h1>
          <hr class="divider my-4">
        </div>
      </div>
    </div>
  </header>

    <!-- card-deck -->
    <div class="container mb-5 mt-5">
    {% if not products %}
        <div class="text-center">
            <p class="error">
                Oups ! Nous n'avons trouvé aucun résultat à cette requête. Essayez de nouveau !
            </p>
        </div>
    {% else %}
        <div class="card-columns">
          {% for product in products %}
            <div class="card text-center">
                <div class="img-wrapper p-2">
                    <a href="{% url 'website:detail' product_id=product.id %}"><img src="{{ product.photo }}" class="card-img-top" alt="{{ product.name }}"></a>
                </div>
                <div class="card-body">
                  <h6 class="card-title"><a href="/search/{{ product.id }}">{{ product.name }}</a></h6>
                    <div class="nutriscore nutriscore-{{ product.nutriscore }} rounded-circle">{{ product.nutriscore }}</div>
                    <p class="card-text">
                    {% if not favorites %}
                    <form class="save_fav" action="{% url 'favorites' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" hidden name=fav value="{{ product.id }}">
                       <button class="btn favorite btn-primary" type="submit"><i class="far fa-save"></i> Enregistrer</button>
                    </form>
                    {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}