{% extends 'website/base.html' %}
{% block content %}

    <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Oups !</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">On dirait bien que tu t'es perdu</p>
          <p class="text-white-75 font-weight-light mb-5">Maintenant pars ou je devrais te narguer une seconde fois! ;)</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="/">Retour à l'accueil</a>
        </div>
      </div>
    </div>
  </header>

{% endblock %}